<div class="footer">
    <div class="footer-logo">
    <span class="text-logo">SpaceBaazar</span>
    </div>
  <div class="footer-copyright">
   <i class="fa-brands fa-reddit-alien" style="color: #00ff40;"></i> Your universal provider for all things space salvage! <i class="fa-brands fa-reddit-alien" style="color: #00ff40;"></i>
  </div>
</div>