.card-product{
  overflow: hidden;
  background:black;
  border-radius: 4px;
}
.card-listing{
  box-shadow: 10px 10px 10px #817988;
  transition: 0.5ms;
}

.card-product > img {
  height: 250px;
  width: 100%;
  object-fit: cover;

}
.card-listing:hover {
	transform: scale(1.1);
}
.card-product-infos {
  width: 100%;
  background: linear-gradient(to bottom, rgba(8, 8, 8, 0.2), rgb(231, 213, 213));
  padding: 16px;
  display: flex;
  color: #00e011;
  justify-content: space-between;

  h2 {
  font-size: 18px;
  font-weight: bold;
}
  p {
    font-size: 14px;
    opacity: .7;
  }
  .price {
    font-size: 18px;
  }
}
.avatar{
  position: absolute;
  width: 80px;
  right: 20px;
  bottom: 80px;
  border: 3px solid white;
}
.btn-cards{
  margin-top: 3px;
  margin-left: 14px;
  color:white;
}
