.card-edit {
  box-shadow: 0 0 15px #af21b9;
  padding: 30px;
  border: 3px solid #af21b9;
}

.card-product-edit{
  margin: 50px 0;
  background: none;
  }

.card-product-edit img {
  margin: 20px 0;
  border: 3px solid #af21b9;
  width: 100%;
  box-shadow: 0 0 15px #af21b9;
}
