.card-border{
  box-shadow: 0 0  10px #af21b9;
  border: 3px solid #af21b9;
}

.btn-login{
  width: 100%;
  color: white;
  border-radius: 10px;
  padding: 0 80px;
  text-align: center;
  box-shadow: 0 0  5px #af21b9;
  border: 1px solid #af21b9;
}
.btn-login:hover{
  background:#af21b9 ;
}

.link-singin{
  text-align: center;
  padding: 20px;
  
}
