.card-show{
  overflow: hidden;
    background: #e9ecef;
    border-radius: 10px;
    width: 600px;
    height: 500px;
    box-shadow: 10px 10px 10px #af21b9;
}
.card-show > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card-show_body{
  box-shadow: 10px 10px 10px #af21b9;
}

.card-description, .list-group-item, .card-body, .card-fundo-description{

  background: linear-gradient(to bottom, rgb(20, 19, 19), rgb(46, 23, 47));
  color: white;
}
.btn-show {
  color: rgb(9, 245, 36);
}
