.form-page {
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(34, 16, 16));
  padding: 16px;
  color: #dde4de;
  justify-content: space-between;
  /* background: black; */
  box-shadow: 0 0 10px #af21b9;
  border: 3px solid #af21b9;
  width: 100%;
}
.form-page-total{
  margin-top: 30px;
}

.form-singin {
  margin-top: 120px;
  color: rgb(26, 225, 19);
}
